<?xml version="1.0"?>
<config>
    <modules>
        <Mcantero_Minesweeper>
            <version>0.1.0</version>
        </Mcantero_Minesweeper>
    </modules>
    <frontend>
        <routers>
            <mcantero_minesweeper>
                <use>standard</use>
                <args>
                    <frontName>minesweeper</frontName>
                    <module>Mcantero_Minesweeper</module>
                </args>
            </mcantero_minesweeper>
        </routers>
        <layout>
            <updates>
                <mcantero_minesweeper>
                    <file>mcantero_minesweeper.xml</file>
                </mcantero_minesweeper>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <mcantero_minesweeper>
                <class>Mcantero_Minesweeper_Helper</class>
            </mcantero_minesweeper>
        </helpers>
        <models>
            <mcantero_minesweeper>
                <class>Mcantero_Minesweeper_Model</class>
            </mcantero_minesweeper>
        </models>
    </global>
</config>